.navbar {
    /* background-color: #f0f0f0; */
    background: #f0f0f0;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* opacity: 0%; */
  }
  
  .nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .nav-item {
    position: relative;
    cursor: pointer;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #000;
  }

  .nav-item a:hover {
    color: #e23c3c;                                                                       
  }

  .nav-item span:hover {
    color: #e23c3c;

  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    display: none;
    list-style: none;
    padding: 10px;
    border-radius: 4px;
  }
  
  .dropdown-menu li {
    margin: 5px 0;
    /* background-color: #ccc; */
    display: flex;
    flex-direction: row;
  }

  .option2 {
    float: right;
    display: flex;
    flex-direction: row;
  }

  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    color: #e23c3c;
  }

  .contact-button {
    background-color: #e23c3c;
    padding: 5px 7px;
    border-radius: 4px;
    margin-left: 5px;
  }
  
    .contact-button:hover {
        transform: scale(0.9);
        transition-duration: 1s;
    }

  .contact-button a {
    text-decoration: none;
    color: #fff;
    font-size: medium;
  }

/* .contact-button {
    background-color: #e23c3c;
    
    text-align: center;
}

.contact-button a {
    text-decoration: none;
    font-style: normal;
    color: #fff;    
    text-align: center;
} */